#top_bar {
	overflow: hidden;
	background-color: #085797;
}

#search_bar button {
	cursor: pointer;
}

#search_bar {
	display: block;
	margin-left: 40%;
}

#search_links {
	display: inline-block;
	margin-left: 50%;
}

.main_content {
	padding-left: 1%;
}

.results {
    display: inline-block;
    text-align: right;
}

#results_container {
    float:right;
    padding-right: 3%;
}





